<!DOCTYPE html>
<html>
<head>
  <title>La carte</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
</head>
<body>
  <!-- Your HTML content here -->
<a href="/dhome">HOME</a>
<div id="content" >

<table width="100%" height="100%" style="border-color: black; border: 5px solid ;">
<tr>
<td width="40%" height="60%" style="height:60%;border-color: red; border: 2px solid ;">
<center><p >photo</p></center>
</td>
<td>
<center><p><b>Hospito</b></p></center>
<p>full name : {{rows[0][1]}}</p>
<p>date of birth : {{rows[0][2]}}</p>
<p>tel:0 {{rows[0][4]}}</p>
<table>
<tr>
<td>
<p>rhesus:{{rows[0][5]}}</p>
</td>
<td>
<svg id="barcode"></svg>
</td>
</tr>
</table>
</td>
</tr>
<table>
</div>


