<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<a href="/dhome">HOME</a>
<p>consultation ID:{{rows[0][0]}}</p>
<p>client ID:{{rows[0][1]}}</p>
<p>doctor ID:{{rows[0][2]}}</p>
<p>consultatio observation:{{rows[0][3]}}</p>
<p>Service:{{rows[0][34]}}</p>
<p>Date de consultation:{{rows[0][35]}}</p>
<table>
<tr>
<td>
<table>
  <tr>
    <th>Med</th>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Dose</th>

  </tr>
  <tr>
    <td>{{rows[0][4]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][5]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][6]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][7]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][8]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][9]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][10]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][11]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][12]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][13]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][14]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][15]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][16]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][17]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][18]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][19]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][20]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][21]}}</td>
  </tr>
  <tr>
    <td>{{rows[0][22]}}</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{rows[0][23]}}</td>
  </tr>

</table>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="vertical-align: top; text-align: center;">
<table>
<tr><th>Analyses req</th></tr>

<tr>
<td>{{rows[0][24]}}</td>
</tr>
<tr>
<td>{{rows[0][25]}}</td>
</tr>
<tr>
<td>{{rows[0][26]}}</td>
</tr>
<tr>
<td>{{rows[0][27]}}</td>
</tr>
<tr>
<td>{{rows[0][28]}}</td>
</tr>
<tr>
<td>{{rows[0][29]}}</td>
</tr>
<tr>
<td>{{rows[0][30]}}</td>
</tr>
<tr>
<td>{{rows[0][31]}}</td>
</tr>
<tr>
<td>{{rows[0][32]}}</td>
</tr>
<tr>
<td>{{rows[0][33]}}</td>
</tr>

</table>
</td>
</tr>
</table>

</body>
</html>