<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste des clients</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <a href="/dhome" class="btn btn-primary mb-3">HOME</a>
    <style>
        .container {
            margin-top: 20px;
        }
        .table {
            margin-top: 20px;
        }
 </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">liste des clients</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>nom complete</th>
                        <th>DDN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td><a href="/findo?cid={{ row[0] }}" class="btn btn-primary">{{ row[0] }}</a></td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>