<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</head>
<body>
<p>staff id:{{rows[0]}}</p>
<p>full name:{{rows[1]}}</p>
<p>date of birth:{{rows[2]}}</p>
<p>tel:0{{rows[3]}}</p>
<p>type:{{rows[4]}}</p>
<p>esubtype:{{rows[5]}}</p>
<p>date of join:{{rows[6]}}</p>
<p>number of assurance:{{rows[7]}}</p>
<p>number of national id:{{rows[8]}}</p>
<p>adress:{{rows[9]}}</p>
<p>rh:{{rows[11]}}</p>
</body>
</html>